In [2]:
3+3

6

In [5]:
pip install

^C
Note: you may need to restart the kernel to use updated packages.

In [6]:
python --version

NameError: name 'python' is not defined

In [10]:
print(3+4)
print(3-4)
print(3*4)
print(3/4)
print(3%4)
print(3**4)
print(3//4)

7
-1
12
0.75
3
81
0

In [14]:
print(type(10))
print(type(9.8))
print(type(3.14))
print(type(4 - 4j))
print(type(['Asabeneh', 'Python', 'Finland']))
print(type('Your name'))
print(type('Your family name'))
print(type('Your country'))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'str'>
<class 'str'>
<class 'str'>

In [15]:
import math
a=2
b=3
c=10
d=8
e=((b-a)**2)+((d-c)**2)
math.sqrt(e)

2.23606797749979

In [16]:
float(10)

10.0

In [17]:
 help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [20]:
#Day 2: 30 Days of python programming
first_name='Mo'
last_name='Hus'
full_name=first_name+' '+last_name
country='USA'
city='Seattle'
age=30
year=2024
is_married=True
is_true=True
is_light_on=False
is_light_on==is_true

False

In [25]:
print(type(first_name))
print(type(last_name))
print(type(full_name))
print(type(country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_married))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>

In [29]:
print(len(first_name))
print(len(full_name))
print(len(first_name)<len(last_name))

2
6
True

In [34]:
num_one=5
num_two=4
print(num_one+num_two)
print(num_one-num_two)
print(num_one*num_two)
print(num_one/num_two)
print(num_one%num_two)
print(num_one**num_two)
print(num_one//num_two)

9
1
20
1.25
1
625
1

In [35]:
radius=30
pi=3.14
area_of_circle=pi*(30**2)
print(area_of_circle)
circumference=2*pi*radius
print(circumference)

2826.0
188.4

In [36]:
f_name= input('What is your first name?')

What is your first name?Mo

In [37]:
print(f_name)

Mo

In [39]:
x+=3

NameError: name 'x' is not defined

In [61]:
# Day 3
age=int(30)
height=float(5.75)
comp= 4+6J
print(type(comp))
base=float(input('Enter base'))
height1=float(input('Enter height'))

<class 'complex'>
Enter base10
Enter height10

In [60]:
area=0.5*base*height1
print('The area of the triange is ', area)

The area of the triange is  50.0

In [65]:
a= int(input('Enter side a'))
b= int(input('Enter side b'))
c= int(input('Enter side c'))
area_of_triangle = a+b+c
print('Area of triangle:', area_of_triangle)

Enter side a10
Enter side b2
Enter side c14
Area of triangle: 26

In [66]:
length = int(input('Enter the length'))
width = int(input('Enter the width'))
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

Enter the length5
Enter the width6
Area of rectangle: 30

In [1]:
radius=int(input('Enter the radius'))
pi=3.14
area_of_circle=pi*(radius**2)
print(area_of_circle)

Enter the radius10
314.0

In [2]:
print('jargon' in 'I hope this course is not full of jargon' )

True

In [4]:
float(len('python'))

6.0

In [12]:
x=int(input('number'))
y=x%2

SyntaxError: invalid syntax (<ipython-input-12-fba14dfa75e7>, line 3)

In [14]:
first_name = 'Mo'
last_name = 'Hus'
language = 'Python'
formated_string = 'I am {} {}. I learn {}'.format(first_name, last_name, language)
print(formated_string)

I am Mo Hus. I learn Python

In [18]:
word='taco'
print(word[0])
print(word[3])

t
o

In [19]:
a='Thirty'
b='days'
c='of'
d='python'
sp=' '
print(a+sp+b+sp+c+sp+d)

Thirty days of python

In [32]:
company='Coding For All'
print(company)
print(len(company))
print(company.upper())
print(company.lower())
print(company.capitalize())
print(company.title())
print(company.swapcase())
print(company.split()[0])

Coding For All
14
CODING FOR ALL
coding for all
Coding for all
Coding For All
cODING fOR aLL
Coding
True

In [33]:
print('Coding' in company) #10 in day 4
print(company.find('Coding'))

True
0

In [34]:
print(company.replace('Coding','Python'))

Python For All

In [35]:
print(company.split())

['Coding', 'For', 'All']

In [38]:
companies="Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon"
print(companies.split(','))

['Facebook', ' Google', ' Microsoft', ' Apple', ' IBM', ' Oracle', ' Amazon']

In [45]:
print(company[0])
company[11]

C

'A'

In [46]:
print(company[-1])
print(len(company))

l
14

In [49]:
print(company.find('C'))
print(company.find('F'))

0
7